<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="style.css">
  <title>L U S O R</title>
 </head>
 <body>
   <p id="name">L U S O R</p>
   <p id="secondary">Welcome to the #1 quiz platform NA</p>
   <form method="POST" action="/quiz_list" autocomplete="off">
     <center><input id = "quizlist" type="submit" value="Take a Quiz"></center>
     <%for i in 0...$user_quizzes.length%>
       <input type="hidden" name="user_quiz_name_<%=i%>" value="<%=$user_quizzes[i].name%>">
       <input type="hidden" name="user_quiz_description_<%=i%>" value="<%=$user_quizzes[i].description%>">
       <input type="hidden" name="user_quiz_answers_<%=i%>" value="<%=$user_quizzes[i].answers_list.join(", ")%>">
     <%end%>
   </form>
   <form method="POST" action="/create_quiz" autocomplete="off">
     <%for i in 0...$user_quizzes.length%>
       <input type="hidden" name="user_quiz_name_<%=i%>" value="<%=$user_quizzes[i].name%>">
       <input type="hidden" name="user_quiz_description_<%=i%>" value="<%=$user_quizzes[i].description%>">
       <input type="hidden" name="user_quiz_answers_<%=i%>" value="<%=$user_quizzes[i].answers_list.join(", ")%>">
     <%end%>
     <center><input id = "createquiz" type="submit" value="Create a Quiz"></center>
   </form>
 </body>
</html>