<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="style.css">
   <title>L U S O R: <%=@quiz_name%></title>
 </head>
 <body>
   <center>
   <p id="name"><%=@quiz_name%></p>
   <p id="secondary"><%=@quiz_description%></p>
   <form method="POST" action="/results">
     <table>
     <%for i in 0...@answers.length%>
     <tr>
       <td>
         <input class="tb" type="text" name="<%=i%>">
       </td>
     </tr>
     <%end%>
     </table>
     <br>
     <input type="hidden" name="key" value="<%=@answers.join(", ")%>">
     <input type="hidden" name="num_answers" value="<%=@answers.length%>">
     <%for i in 0...$user_quizzes.length%>
       <input type="hidden" name="user_quiz_name_<%=i%>" value="<%=$user_quizzes[i].name%>">
       <input type="hidden" name="user_quiz_description_<%=i%>" value="<%=$user_quizzes[i].description%>">
       <input type="hidden" name="user_quiz_answers_<%=i%>" value="<%=$user_quizzes[i].answers_list.join(", ")%>">
     <%end%>
     <input id="smallbutton" type="submit" value="Submit your answers">
     </form>
   </center>
 </body>
</html>