<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="style.css">
  <title>L U S O R: Results</title>
 </head>
 <body>
   <p id="name">L U S O R</p>
   <center><%if @score == @num_questions%>
     <p id = "resultgreen">Your score is: <%=@score%>/<%=@num_questions%></p>
   <%else%>
     <p id = "resultred">Your score is: <%=@score%>/<%=@num_questions%></p>
     <%end%></center>
   <form method="POST" action="/" autocomplete="off">
     <center><input id = smallbutton type="submit" value="Return to Home"></center>
     <%for i in 0...$user_quizzes.length%>
       <input type="hidden" name="user_quiz_name_<%=i%>" value="<%=$user_quizzes[i].name%>">
       <input type="hidden" name="user_quiz_description_<%=i%>" value="<%=$user_quizzes[i].description%>">
       <input type="hidden" name="user_quiz_answers_<%=i%>" value="<%=$user_quizzes[i].answers_list.join(", ")%>">
     <%end%>
   </form>
 </body>
</html>